<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>Landing Page</title>
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">WEB 2</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#Tentang">Tentang</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Layanan">Layanan</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Kontak">Kontak</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <section id="hero" class="jumbotron text-center">
    <div class="container">
      <h1 class="display-4">Selamat datang di landing page </h1>
      <p class="lead">landing page menggunakan django dan boostrap</p>
      <a class="btn btn-primary" href="#Tentang">Selanjutnya</a>
    </div>
  </section>

  <section id="#Tentang="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>Tentang kami</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo tellus ac iaculis elementum.</p>
        </div>
        <div class="col-md-6">
          <img src="image/einsten.jpg" class="img-fluid" alt="About Us">
        </div>
      </div>
    </div>
  </section>

  <section id="Layanan" class="bg-light py-5">
    <div class="container">
      <h2 class="text-center">Layanan kami</h2>
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4">
            <img src="image/emyu.jpg" class="card-img-top" alt="Service 1">
            <div class="card-body">
              <h5 class="card-title">Layanan 1</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4">
            <img src="image/minato.jpg" class="card-img-top" alt="Layanan 2">
            <div class="card-body">
              <h5 class="card-title">Layanan 2</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </div>
        </div>
        <div class
